<!DOCTYPE html>
<html>
<head>
<title>{{.Title}}</title>
</head>
<body>

<h1>{{.Heading}}</h1>

{{ range $index, $value := .Links }}
<a href="{{ $value.HREF }}" attr="{{ $value.ATTR }}">{{ $value.Text }}</a><br />
{{ end }}

</body>
</html>
